body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: grey;
    font-family: 'Inter', sans-serif;
}

a{
    text-decoration: none;
    color: black;
}

a:visited{
    color: black;
}

a:hover{
    color: #a6a6a6;
}

.edit-button:active,
.arrow-back:active,
.plus-button:active{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}


.App{
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    width: 40vw;
    min-width: 30rem;
    background-color: #e6e6e6;
}

/*        */
/* HEADER */
/*        */

.container .header{
    background-color:  #b3b3b3;
    padding: 1.3rem;
    font-size: 1.6rem;
}

.container .header .edit-button{
    float: right;
    font-size: 1.2rem;
    background-color: #d9d9d9;
    border: none;
    cursor: pointer;
    margin-top: 4px;
    padding: .2rem .6rem;
    border-radius: 6px;
}

.container .header .edit-button:hover{
    background-color: #cccccc;
}


/*            */
/* NOTES-LIST */
/*            */


.notes-list{
    padding: 1rem;
}

.plus-button{
    background-color: #b3b3b3;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    height: 2.6rem;
    padding: .5rem;
    margin-block: .85rem 0;
}

.plus-button svg{
    height: 20px;
}

.plus-button:hover{
    background-color: #cccccc;
}

.note{
    border-bottom: grey solid 1.5px;
    padding: 1rem;
    /* animation: note-appear 1s 1; */
}

/* @keyframes note-appear {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 100%;
    }
} */

.note-title{
    text-transform: uppercase;
}


.notes-list span{
    float: right;
}

.delete-button{
    font-size: 1.8rem;
    background: none;
    border: none;
    cursor: pointer;
    animation: show 700ms 1;
}


@keyframes show {
    0%{
        opacity: 0%;
    }
    100%{
        opacity: 100%;
    }
}

/*              */
/* NOTE-ELEMENT */
/*              */

.note-element {
    margin-inline: 1.3rem;
}

.arrow-back{
    background-color: #cccccc;
    border: none;
    cursor: pointer;
    margin-top: 1rem;
    padding: .4rem;
}

.arrow-back:hover{
    background-color:  #d9d9d9;
}


.note-element p{
    margin-bottom: 2.4rem;
    word-break: break-all;
}

textarea {
    background-color: #cccccc;
    border: none;
    padding: 1rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
    width: 90%;
    height: 30vh;
    resize: none;
    font-size: 1rem;
  }
  
textarea:active,
textarea:focus{
    outline: none;
    border: none;
  }

input{
    background: none;
    border: none;
    padding: 1rem;
    padding-bottom: .4rem;
    border-bottom: grey solid 1.5px;
    margin: 1rem;
    width: 90%;
    font-size: 1.6rem;
}

input:active,
input:focus{
    outline: none;
}